body {
  align-items: center;
  background: center / cover no-repeat url('./road.jpg') ;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
}

#grid {
  background-color: rgb(63, 63, 63);
  display: grid;
  height: 35vh;
  margin-top: 4em;
  width: 90vw;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

@keyframes correctFlash {
  50% {
    background-color: lightgreen;
  }
}
@keyframes incorrectFlash {
  50% {
    background-color: red;
  }
}

#grid.correct {
  animation: correctFlash .5s;
}

#grid.incorrect {
  animation: incorrectFlash .5s;
}

.rect {
  border: 1px solid black;
  height: 100%;
  width: 100%;
}

@keyframes glowYellow {
  50% {
    background-color: yellow; 
  }
}
@keyframes glowRed {
  50% {
    background-color: red; 
  }
}
@keyframes glowBlue {
  50% {
    background-color: blue; 
  }
}
@keyframes glowPurple {
  50% {
    background-color: purple; 
  }
}

#G.pressed {
  animation: glowYellow 1s;
}

#A.pressed {
  animation: glowRed 1s;
}

#hiF.pressed {
  animation: glowPurple 1s;
}

#loF.pressed {
  animation: glowYellow 1s;
}

#C.pressed {
  animation: glowBlue 1s;
}

@font-face {
  font-family: 'Close';
  src: url('./ALIEE___.TTF');
}

#hint {
  letter-spacing: .2em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: Close, sans-serif;
  font-size: 4em;
  -webkit-text-stroke: 1px red;
}

#hint:active {
  -webkit-text-fill-color: red;
}