body {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
}

#grid {
  background-color: grey;
  display: grid;
  height: 40vh;
  width: 90vw;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

@keyframes correctFlash {
  50% {
    background-color: lightgreen;
  }
}
@keyframes incorrectFlash {
  50% {
    background-color: red;
  }
}

body.correct {
  animation: correctFlash .5s;
}

body.incorrect {
  animation: incorrectFlash .5s;
}

.rect {
  border: 1px solid black;
  height: 100%;
  width: 100%;
}



@keyframes glowYellow {
  50% {
    background-color: yellow; 
  }
}
@keyframes glowRed {
  50% {
    background-color: red; 
  }
}
@keyframes glowBlue {
  50% {
    background-color: blue; 
  }
}
@keyframes glowPurple {
  50% {
    background-color: purple; 
  }
}

#G.pressed {
  animation: glowYellow 1s;
}

#A.pressed {
  animation: glowRed 1s;
}

#hiF.pressed {
  animation: glowPurple 1s;
}

#loF.pressed {
  animation: glowYellow 1s;
}

#C.pressed {
  animation: glowBlue 1s;
}